  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<nav>
  <a id='homepage' href="/">Homepage</a>
  <a id='new_food' href="/food/new">Add new meal</a>
  <a href="/food">Food Homepage</a>
</nav>
