  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<nav>
  <img id='logo' src="https://seeklogo.com/images/N/NASA-logo-BF1554E904-seeklogo.com.png" alt="">
  <a id='homepage' href="/">Homepage</a>
  <a id='new_food' href="/ufo/new">Add new UFO</a>
  <a href="/ufo">UFO Homepage</a>
</nav>
