  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<nav>
  <a id='homepage' href="/">Homepage</a>
  <a id='new_food' href="/ufo/new">Add new UFO</a>
  <a href="/ufo">UFO Homepage</a>
</nav>
