  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<nav>
  <a href="/">Homepage</a>
  <a href="/nasa/feed">Nasa Feed</a>
  <a href="/nasa/lookup">Nasa Lookup</a>
  <a href="/food/new">Add new food</a>
</nav>
