* {
  text-decoration: none;
}

nav {
  background-color: black;
  height:50px;
  position: absolute;
  top:0px;
  width: 100%;
  left:0px;
  text-align: center;
  display: inline-block;
}

nav a {
  color:blue;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  margin-top: 15px;
}

nav a:hover {
  background-color: grey;
}

h3 {
  color:white;
  line-height: 1px;
}

nav a:hover{
  background-color: grey;
}

footer a {
  font-size: 30px;
  color:white;
  text-decoration: none;
  margin-left: 20px;
}

footer a:hover {
  background-color: grey;
}

img{
  width:400px;
  height:300px;
  text-align: center;
  line-height: 5px;
}

#api_content {
  margin-top: 100px;
}

#nasa_jpg {
  color:blue;
}

br {
  padding-top: 30px;
}

#content {
  width: 500px;
  background-color: white;
  position: relative;
  padding-top: 20px;
  top:40px;
  margin: auto;
}

#delete {
  background-color: grey;
  height:40px;
  width:80px;
  border-radius: 10px;
  margin-top: 40px;
}

#edit {
  background-color: grey;
  height:40px;
  width:80px;
  border-radius: 10px;

}

.food_background {
  background-color: white;
}

body {
  height:100%;
  min-height:100%;
  text-align: center;
}

#nasa_pages {
  background-image: url('https://wallpapercave.com/wp/pEeUsp1.jpg')
}
table {
  margin: auto;
}

td {
  color: white;
  padding-bottom: 10px;
  padding-right: 70px;
  font-size: 23px;
}

.key {
  text-align: left;
  padding-bottom: 10px;
  padding-right: 70px;
  font-weight: bold;
  font-size: 23px;
}

div h1, h4 {
  color: white;
}

#body {

}

.labels {

}

h3 {
  padding-bottom: 18px;
}

#welcome {
  padding-top: 50px;
  padding-bottom: 140px;
  color: black;
  z-index: 1;
  margin: auto;
  width: 600px;
  height: 100px;
  font-weight: bold;
  font-size: 26px;
  /*text-shadow: 1px 1px 1px blue;*/
}

#meal_name {
  margin:auto;
  padding-right: 160px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#meal_description {
  border-radius: 10px;
}


#description {
  /*margin-right: 310px;*/
}

#image_link {
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 10px;
}

.heading {
  color: blue;
  text-decoration: none;
}

#logo {
  position: absolute;
  left:20px;
  top:5px;
  height:40px;
  width:50px;
  z-index: 1;
}

#title {
  color: black;
}

.images {
  margin-bottom: 40px;
}
